{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Фестиваль "Мир Сибири" - международный фестиваль этнической музыки и ремесел</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
 <header>
  <h1>
    Фестиваль "Мир Сибири" - международный фестиваль этнической музыки и ремесел
    <span class="account-button">&#128100;</span> 
  </h1>
</header>

  <nav>
    <ul>
      <li><a href="#">Музыка</a></li>
      <li><a href="#">Ремесла</a></li>
      <li><a href="#">Площадки фестиваля</a></li>
      <li><a href="second#">Программа фестиваля</a></li>
    </ul>
  </nav>
  <main>
    <section>
      <h2>О фестивале</h2>
      <p>Фестиваль "Мир Сибири" в Шушенском - это ежегодное культурное событие, посвященное показу богатства культуры, традиций и наследия Сибири. Этот фестиваль объединяет представителей различных этнических групп, а также творческие коллективы и мастеров из разных регионов, чтобы отметить уникальное наследие Сибири. Фестиваль проводится в историческом городе Шушенское, который сам по себе является культурным и историческим символом Сибири.</p>
    </section>
    <section>
      <h2>Программа</h2>
      <p>Программа фестиваля включает в себя разнообразные мероприятия, предназначенные для публичного развлечения и познания. В течение нескольких дней участники смогут насладиться музыкальными выступлениями различных жанров, от традиционной народной музыки до современных исполнителей, танцевальными номерами, мастер-классами по народным ремеслам, где каждый желающий сможет научиться делать что-то новое своими руками, культурными выставками, где будут представлены произведения местных художников и мастеров, а также фуд-корт с традиционной сибирской кухней.</p>
    </section>
    <section>
      <h2>Участники</h2>
      <p>Участники фестиваля представляют различные культурные группы и творческие коллективы из разных регионов Сибири. Это включает в себя народные ансамбли, художников, мастеров ремесел и других творческих личностей, которые демонстрируют богатство культурного разнообразия региона. Кроме того, на фестивале также будут представлены работы молодых и талантливых художников и музыкантов, чтобы поддержать местные творческие инициативы и вдохновить новые поколения на творчество.</p>
    </section>
    <section>
      <h2>Контакты</h2>
      <p>Для связи с организаторами фестиваля вы можете использовать следующие контактные данные: <br> Электронная почта:  mir-fest@cmrks.ru <br> Телефон:  +7 (3912) 12-32-42 <br> Адрес: 660049, Российская федерация, г. Красноярск, проспект Мира, 7а (пом. 601) с пометкой «Фестиваль «Мир Сибири».</p>
    </section>
     <section>
    <h2>Новости</h2>
    <ul class="news-list">
        <li>
            <a href="#">
                <div class="news-item">
                    <h3>Приглашаем творческие семьи для участия в фестивале</h3>
                    <p>Специальную номинацию для семейных коллективов включил в конкурсную программу оргкомитет Международного фестиваля этнической музыки и ремёсел «МИР Сибири».</p>
                    <div class="news-image">
                        <img src="{% static '1.jpeg' %}" alt="Image 1" style="width: 350px; height: auto;">
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="news-item">
                    <h3>Открыт прием заявок на ярмарку</h3>
                    <p>Приглашаем предпринимателей и ремесленников, тех, кто хочет показывать своё мастерство, торговать этническими товарами, развлекать и угощать дорогих гостей «МИРа Сибири».</p>
                    <div class="news-image">
                        <img src="{% static '2.jpg' %}" alt="Image 2" style="width: 350px; height: auto;">
                    </div>
                </div>
            </a>
        </li>
    </ul>
</section>

  </main>
  <footer>
    <p>&copy; 2024 Подготовил: Васильев Данил Алексеевич. "Программист, но не фронтэнд"</p>
  </footer>
</body>
</html>